<body style="padding: 10px">
	<div class="col-xs-8">
		<div class="panel-heading">
			<h3>Employee Search Form</h3>
		</div>
		<form asp-controller="Employee" asp-action="DynamicSQL">
			<div>
				<label for="firstName">First Name</label>
				<br />
				<input type="text" name="firstName" placeholder="First Name">
			</div>
			<br />
			<div>
				<label for="lastName">Last Name</label>
				<br />
				<input type="text" name="lastName" placeholder="Last Name">
			</div>
			<br />
		</form>
	</div>
</body>